anyio
certifi
charset-normalizer
click
click-didyoumean
fastapi
Flask
Flask-Cors
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
MarkupSafe
mysqlclient
p
pep8
pycodestyle
psycopg2-binary
pydantic
requests
six
sniffio
SQLAlchemy
starlette
termcolor
typing_extensions
urllib3
uvicorn
Werkzeug
